*{ cursor: none !important; }
textarea, input, div[contenteditable]{ --cursor: text; resize: none; }
button{ --cursor: pointer }

div[contenteditable~="false"]{ --cursor: default; }
._cursor-box{
    position: fixed;
    display: block;

    ._cursor-pointer, ._cursor-selector{
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        background-color: #222;
        color: #222;

        border-radius: 50%;

        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        &._cursor-selector{ background-color: rgba(#222, 0.12); color: rgba(#222, 0.12); }
    }

    &[dark="true"]{
        ._cursor-pointer{ background-color: #eee; color: #eee; }
        ._cursor-selector{ background-color: rgba(#eee, 0.2); color: rgba(#eee, 0.2); }
    }

    &[cursor="text"]{
        ._cursor-pointer{
            width: 2px;
            height: 18px;
        }

        ._cursor-selector{ width: 40px; height: 40px; }
    }

    &[cursor="pointer"]{
        &[dark="true"]{
            ._cursor-pointer{ background-color: #82c7f5; color: #82c7f5; }
            ._cursor-selector{ width: 40px; height: 40px; background-color: rgba(#82c7f5, 0.2); color: rgba(#82c7f5, 0.2); }
        }
        ._cursor-pointer{ background-color: #2e7caf; color: #2e7caf; }
        ._cursor-selector{ width: 40px; height: 40px; background-color: rgba(#3a8ac0, 0.15); color: rgba(#3a8ac0, 0.2); }
    }

    ._cursor-pointer, ._cursor-selector{ width: 0; height: 0; -webkit-transition: none; transition: none; }
    &[setup="true"]{
        ._cursor-pointer{ width: 5px; height: 5px; }
        ._cursor-selector{
            -webkit-transition: .12s ease all;
            transition: .12s ease all;

            width: 40px; height: 40px;
        }

        &[cursor="default"] ._cursor-selector{ width: 30px; height: 30px; }
        &[cursor="text"] ._cursor-pointer{ width: 2px; height: 18px; }
    }

    &[silent="true"] ._cursor-selector{
        width: 0; height: 0;
    }

    ._cursor-pointer *{
        position: absolute;
        display: block;

        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

        top: 1px;
        left: 1px;
    }
    &[icon="true"]{
        &[cursor="default"][enable~="default"] ._cursor-pointer,
        &[cursor="pointer"][enable~="pointer"] ._cursor-pointer,
        &[cursor="text"][enable~="text"] ._cursor-pointer
            { width: 0 !important; height: 0 !important; }
    }

    pointer-events: none;
    z-index: 999;
}