* {
  cursor: none;
}

textarea, input {
  --cursor: text;
}

button {
  --cursor: text;
}

._cursor-box {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  pointer-events: none;
}

._cursor-box[setup='true'] ._cursor-point {
  width: 5px;
  height: 5px;
}

._cursor-box[setup='true'] ._cursor-cover {
  width: 30px;
  height: 30px;
  animation: cover_resize_big .35s ease forwards;
}

._cursor-box[setup='true'][cursor='pointer'] ._cursor-point {
  animation: pointer_resize .35s ease forwards;
}

._cursor-box[setup='true'][cursor='text'] ._cursor-point {
  width: 2px;
  height: 18px;
}

._cursor-box[setup='true'][cursor='text'] ._cursor-cover {
  width: 40px;
  height: 40px;
}

._cursor-box[setup='true'][cursor='default'] {
  transition: none;
}

._cursor-box[setup='true'][cursor='default'] ._cursor-point {
  transition: .05s ease all;
  animation: ponter_resize .15s ease forwards;
}

._cursor-box[setup='true'][cursor='default'] ._cursor-cover {
  transition: .15s ease all;
  animation: cover_resize .35s ease forwards;
}

._cursor-box[setup='done'] ._cursor-point {
  transition: .05s ease all;
  width: 5px;
  height: 5px;
}

._cursor-box[setup='done'] ._cursor-cover {
  transition: .15s ease all;
  width: 30px;
  height: 30px;
}

._cursor-box ._cursor-point, ._cursor-box ._cursor-cover {
  position: absolute;
  display: block;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #222;
}

._cursor-box ._cursor-point._cursor-cover, ._cursor-box ._cursor-cover._cursor-cover {
  background: rgba(34, 34, 34, 0.15);
}

._cursor-box[cursor='pointer'][setup='done'] ._cursor-cover {
  width: 40px;
  height: 40px;
}

._cursor-box[cursor='pointer'][setup='done'][dark='false'] ._cursor-cover {
  background: rgba(6, 70, 119, 0.2);
}

._cursor-box[cursor='pointer'][setup='done'][dark='false'] ._cursor-point {
  background: #064677;
}

._cursor-box[cursor='pointer'][setup='done'][dark='true'] ._cursor-cover {
  width: 40px;
  height: 40px;
  background: rgba(171, 219, 255, 0.2);
}

._cursor-box[cursor='pointer'][setup='done'][dark='true'] ._cursor-point {
  background: #abdbff;
}

._cursor-box[cursor='text'][setup='done'] ._cursor-cover {
  width: 40px;
  height: 40px;
}

._cursor-box[cursor='text'][setup='done'] ._cursor-point {
  width: 2px;
  height: 18px;
  border-radius: 1px;
}

._cursor-box[dark='true'][setup='done'] ._cursor-point {
  background: #eee;
}

._cursor-box[dark='true'][setup='done'] ._cursor-cover {
  background: rgba(238, 238, 238, 0.2);
}

@keyframes ponter_resize {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 5px;
    height: 5px;
  }
}

@keyframes cover_resize {
  0% {
    width: 0px;
    height: 0px;
  }
  60% {
    width: 35px;
    height: 35px;
  }
  100% {
    width: 30px;
    height: 30px;
  }
}

@keyframes cover_resize_big {
  0% {
    width: 0px;
    height: 0px;
  }
  60% {
    width: 45px;
    height: 45px;
  }
  100% {
    width: 40px;
    height: 40px;
  }
}
